{% extends 'base.html' %} {% block content %}

<h1>{{capybara.name}} Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ capybara.name }}</span>
    <p>Color: {{ capybara.color }}</p>
    <p>Description: {{ capybara.description }}</p>
    {% if capybara.age > 0 %}
    <p>Age: {{ capybara.age }}</p>
    {% else %}
    <p>Age: Little young rodent</p>
    {% endif %}
    <img src={{capybara.image}} style="height: 200px; width: 200px;" />
  </div>
  <div clas="card-action">
    <a href="{% url 'caps_update' capybara.id %}">Edit</a>
    <a href="{% url 'caps_delete' capybara.id %}">Delete</a>
  </div>
</div>

{% endblock %}